#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

body {
	background-color: lightblue;
}

input[type=text] {
    width: 100%;
	text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
 